[Desktop Entry]
Name=Beeper
StartupWMClass=Beeper
Comment=Universal Messenger
GenericName=Internet Messenger
Exec=/app/bin/beeper
Icon=com.beeper.Beeper
Type=Application
Categories=Network;InstantMessaging;
