[Desktop Entry]
Name=Beeper Desktop
StartupWMClass=Beeper
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
GenericName=Internet Messenger
Exec=/app/bin/beeper
Icon=com.beeper.Beeper
Type=Application
Categories=Network;InstantMessaging;
