[Desktop Entry]
Name=Discord PTB
StartupWMClass=discord
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
GenericName=Internet Messenger
Exec=/app/bin/discord-ptb
Icon=com.discord.DiscordPTB
Type=Application
Categories=Network;InstantMessaging;
