[Desktop Entry]
Name=Discord Development
StartupWMClass=discord
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
GenericName=Internet Messenger
Exec=/app/bin/discord-development
Icon=com.discord.DiscordDevelopment
Type=Application
Categories=Network;InstantMessaging;
